.ourgame-game {
    background-image: url('../../assets/image/ourGameBg.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 108vh;
  }