.main {
    background: url(../../assets/image/bgLanding.svg) no-repeat center top / cover;
}

.header-main__logo img {
    cursor: pointer;
}

h2 {
    display: block;
    margin: 1rem auto;
    text-align: center;
}