.words {
  padding: 30px;
  &-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-links {
    display: flex;
    justify-content: space-between;

    button {
      border-radius: 10px;
    }
  }
}