.words {
  padding: 30px;
  &-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
    h4 {
      margin-bottom: 0;
      margin-right: 5px;
    }

    button {
      border-radius: 10px;
      border: 1px solid #70d6ff;
    }
  }

  &-games {
    display: flex;
    align-items: center;

    button {
      margin-right: 5px;
      width: 105px;
      transition: .15s ease-in-out;
      &:hover {
        box-shadow: 3px 3px 5px rgba(29, 22, 22, 0.15);
      }
    }
  }

  .ant-card {
    border-radius: 8px;
  }

  .words-navigation button:last-child {
    margin-left: 1rem;
  }
}


@media (max-width: 930px) {
  .words {
    &-links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      // h4 {
      //   display: none;
      // }
     
    }

    &-games {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 0.5rem;
      margin-bottom: 1rem;
    }

    &-games h4 {
      grid-column: 1 / 3;
    }

    &-games * {
      justify-self: center;
    }
  }
}