.statistics-game__error {
    display: flex;
    align-items: center;
}
.statistics-game__play-sound{
    background-color: transparent;
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin-right: 20px;
}