.game__btn{
    font-family: 'Nunito';
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    background: transparent;
    border: 2px solid #FF9770;
    box-shadow: 3px 3px 5px rgba(29, 22, 22, 0.15);
    border-radius: 8px;
    color: #161616;
    min-width: 100px;
    padding: 5px 20px;
    min-height: 56px;
    margin-top: 20px;
    margin-right: 10px;
    &:last-of-type {
        margin-right: 0;
    }
    &:hover {
        border:  2px solid #FF9770;
        background: #bb6b56;
        color: white;
    }
    &:focus {
        border:  2px solid #FF9770;
        background: #bb6b56;
        color: white;
    }
}
.full-screen {
    position: fixed !important;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.full-screen-icon {
    svg {
      width: 30px;
      height: 30px;
      &:hover {
        width: 32px;
        height: 32px;
      }
    }
}
.game__health {
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 25px;
}
@media(max-width: 799px) {
    .game__btn{
        font-size: 20px;
        line-height: 20px;
    }
}
@media(max-width: 599px) {
    .game__btn{
        padding: 3px 10px;
        font-size: 14px;
        line-height: 14px;
        .arrow-icon{
            margin: 0;
        }
    }
}