.lead {
  height: 400px;
  width: 100%;
  padding: 200px 0 0;
  background-image: url(../../assets/image/laedbg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 15% bottom 45%;
  
  &__wrapper{
    width: 70%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__title {
    margin: 0 0 12px;
    text-align: center;
  }
  &__subtitle {
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    color: #161616;
    padding: 0;
    margin: 0 0 40px;
    text-align: center;
  }

  &__btn {
    min-width: 172px;
    height: 50px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #F3F3F3;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 35px;
    background: #FF9770;
    box-shadow: 3px 3px 5px rgba(29, 22, 22, 0.15);
    border-radius: 8px;
  }
}

@media (max-width: 1245px) {
  .lead{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    &__wrapper {  
      max-width: 45%;
      margin: 0;
      margin-left: 10%;
    }

    &__info {

    }
  }
}

@media (max-width: 900px) {
  .lead{
    background-position: right 10% top 0;
    padding: 0;
    height: calc(460px + 60vh);
    &__wrapper {  
      width: 70%;
      max-width: 70%;
      margin: 5rem auto 0;
    }

    &__info {
      height: 60vh;
      margin-top: 200vh;
    }
  }

}
@media (max-width: 500px) {
  .lead__wrapper {
    height: 60vh;
  }

  .lead__info {
    margin-top: 110vh;
  }
}