.header-main {
  padding: 1em 0 0;
  width: 100%;
  border-bottom: 1px solid;
  &__menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__wrapper{
    width: 90%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
}
.header-main__logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: space-around;
}

.logout {
  margin-left: 10px;
}

.btn {
  border-radius: 10px;
}
.nav{
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  &__item{
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    &:hover {
      color: #40a9ff;
    }
  }
}