.settings {
  padding: 100px 0;
  h1 {
    text-align: center;
    color: #483d8b;
    font-weight: bold;
  }
  &__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__box {
    margin-right: 40px;
    &:last-child {
      margin-right: 0px;
    }
    h3 {
      color: #939ba5;
      font-weight: bold;
    }
    &_checkbox {
      display: flex;
      flex-direction: column;
    }
  }
}

.ant-checkbox-wrapper {
  &.ant-checkbox-wrapper {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .settings {
    &__inner {
      flex-direction: column;
    }
    &__box {
      margin: 0 auto;
      width: 300px;
      margin: 0 auto;
    }
  }
}
