.header {
  // background: white;
  color: black;
  height: 65px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.header__sectionName {
  color: black;
  margin: 0;
  font-size: 32px !important;
}

.logout {
  margin-left: 10px;
}

.btn {
  border-radius: 10px;
}