.header {
  // background: white;
  color: black;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
}

.header__sectionName {
  color: rgb(65, 65, 65) !important;
  margin: 0;
  font-size: 35px !important;
  font-weight: 800 !important;
}

.logout {
  margin-left: 10px;
}

.btn {
  border-radius: 10px;
}