.game-ourgame {
  width: 100%;
  padding: 10px 20px;
  &-header {

    display: flex;
    justify-content: space-between;

    &-settings {
      display: flex;
      align-items: center;

      button {
        margin-right: 20px;
      }
    }
  }


  .sprint-game {
    height: 100%;
    padding: 10px 20px;
    &-rules {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 40px;
      color: #161616;
      text-align: center;
      h1 {
        margin-top: 90px;
      }
      p {
        font-size: 28px;
        line-height: 38px;
      }
      &__btn {
        background: #FF9770;
        border: none;
        box-shadow: 3px 3px 5px rgba(29, 22, 22, 0.15);
        border-radius: 8px;
        color: #161616;
        width: 144px;
        height: 56px;
        margin-top: 55px;
        &:hover {
          background: #bb6b56;
        }
      }
  
      &__level {
        display: flex;
        align-items: center;
        font-size: 28px;
      }
    }
  
    &-start {
      position: relative;
      height: 100%;
      &__inner {
        width: 506px;
        height: 458px;
        margin: 0 auto;
        background: rgba(249, 249, 249, 0.35);
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%)translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: all 0.5s ease-in;
      }
      &__settings {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 50px 0;
      }
  
      &__words {
        text-align: center;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 50px;
      }
  
      &__buttons {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
      }
  
      &__statistics {
        width: 506px;
        height: 458px;
        margin: 0 auto;
        background: rgba(249, 249, 249, 0.35);
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%)translateY(-50%);
        z-index: 5;
      }
    }
  }

  .game-images-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 80vh;
  }

  .game-ourgame-image {
    width: 25vw;
    height: 25vh;
    appearance: none;
    outline: none;
    border: none;
    background: transparent;
  }

  .game-ourgame-field h3 {
    display: block;
  }

  .game-ourgame-image img {
    object-fit: cover;
    border-radius: 25px;
    width: 25vw;
    transition: .2s ease-in-out;
  }

  .game-ourgame-right {
    box-shadow: 0px 0px 9px 5px rgba(255, 151, 112, 0.75);
  }

  .game-ourgame-wrong {
    box-shadow: 0px 0px 9px 5px rgba(92, 92, 92, 0.75);
  }
  
  .rate-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .sound-icon {
    svg {
      width: 42px;
      height: 42px;
      &:hover {
        width: 44px;
        height: 44px;
      }
    }
  }
  
  .full-screen-icon {
    svg {
      width: 30px;
      height: 30px;
      &:hover {
        width: 32px;
        height: 32px;
      }
    }
  }
  
  .button-wrapper {
    display: flex;
    align-items: center;
  }
}

