.fullscreen-call {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
:not(:root):fullscreen::backdrop {
    background: url(../../../assets/image/gameCallBg.png) no-repeat;
    background-size: cover;
    background-position: center;
}