.bar__link{
    font-family: 'Nunito';
    font-size: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: white;
    transition: .15s ease-in-out;
}
.ant-menu-item-selected {
    background: #0f2d49 !important;
    &:hover {
        color: #003668;
    }
}
.ant-menu-item-selected.bar__link_blue .anticon,
.ant-menu-item-selected.bar__link_blue .anticon + span,
.ant-menu-item-active.bar__link_blue:hover {
    color: #70D6FF;
}
.ant-menu-item-selected.bar__link_pink .anticon,
.ant-menu-item-selected.bar__link_pink .anticon + span,
.ant-menu-item-active.bar__link_pink:hover {
    color: #FF70A6;
}
.ant-menu-item-selected.bar__link_orange .anticon,
.ant-menu-item-selected.bar__link_orange .anticon + span,
.ant-menu-item-active.bar__link_orange:hover {
    color: #FF9770;
}
.ant-menu-item-selected.bar__link_light-orange .anticon,
.ant-menu-item-selected.bar__link_light-orange .anticon + span,
.ant-menu-item-active.bar__link_light-orange:hover{
    color: #FFD670;
}
.ant-menu-item-selected.bar__link_yellow .anticon,
.ant-menu-item-selected.bar__link_yellow .anticon + span,
.ant-menu-item-active.bar__link_yellow:hover {
    color: #E9FF70;
}
.ant-layout-sider-children,
.ant-menu.ant-menu-dark {
    background: #282C34;
}
.ant-layout-sider.ant-layout-sider-dark{
    background: #282C34
}
.ant-layout-sider-trigger {
    background: #282C34;
}
.ant-layout-sider-children{
    margin: 0;
}
.logo {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 !important;
    &:hover {
        transform: scale(1.2);
        transition: all 0.5s;
    }
}

.menu {
    margin-top: 18px;
    background: #282C34;
    width: 99%;
    border-right: none;
}

@media(max-width: 499px) {
.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-has-trigger {
    flex: 0 0 150px !important;
    min-width: 150px !important;
    width: 150px;
    max-width: 150px !important;
}
.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-collapsed.ant-layout-sider-has-trigger{
    flex: 0 0 80px !important;
    min-width: 80px !important;
    width: 80px;
    max-width: 80px !important;
}
.ant-layout-sider-has-trigger{
    padding-bottom: 0;
}
.ant-layout-sider-trigger {
    padding-bottom: 0;
    width: 80px !important;
}
.ant-layout-sider-children{
    padding-bottom: 0;

}
}