.bar__link{
    font-family: 'Nunito';
    // font-style: normal;
    // font-weight: normal;
    font-size: 20px;
    // line-height: 49px;
    // display: flex;
    // align-items: center;
    // text-align: center;
    letter-spacing: 0.02em;
    color: white;
    transition: .1s ease-in-out;
}
.ant-menu-item-selected {
    background: #0f2d49 !important;
    &:hover {
        color: #003668;
    }
}


.ant-layout-sider-children {
    background: #282C34;
}

.ant-layout-sider-trigger {
    background: #282C34;
}

.menu {
    margin-top: 18px;
    background: #282C34;
    width: 99%;
    border-right: none;


}

.logo {
    text-align: center;
    padding: 0 !important;

    img {
        // width: 70px;
    }

    &:hover {
        transform: scale(1.2);
        transition: all 0.5s;
    }
}

