  
.games {
    width: 100%;
    display: flex;
    justify-content: center;
    &-container {
      width: 80%;
      margin-top: 100px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
    }
}
  .games__card {
    cursor: pointer;
    flex-basis: 23%;
    background: transparent;
    text-align: center;
  
    &:hover {
      transform: scale(1.1);
      transition: all 0.9s;
    }
}

.games__meta__title,
.ant-card-meta-title {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.02em;
  text-align: center;
}