.dictionary {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.dictionary__card {
  cursor: pointer;
  width: 240px;
  margin: 20px;
  background: transparent;
  text-align: center;

  &:hover {
    transform: scale(1.1);
    transition: all 0.9s;
  }
}